<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UploadFiles</servlet-name>
        <servlet-class>MainPackages.UploadFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadInsurancePolicyImage</servlet-name>
        <servlet-class>MainPackages.UploadInsurancePolicyImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadInsurancePolicyHTML</servlet-name>
        <servlet-class>MainPackages.UploadInsurancePolicyHTML</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadFiles</servlet-name>
        <url-pattern>/MainPackages.UploadFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadInsurancePolicyImage</servlet-name>
        <url-pattern>/MainPackages.UploadInsurancePolicyImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadInsurancePolicyHTML</servlet-name>
        <url-pattern>/MainPackages.UploadInsurancePolicyHTML</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--context-->
    <context-param>
        <param-name>
                    authorization_url
                </param-name>
        <param-value>
                        http://35.184.46.252:6969/AuthenticationAPI/AuthenticationPackage.DeveloperAppApiKeyLog
                </param-value>
    </context-param>
    <context-param>
        <param-name>
                    logic_server_base_url
                </param-name>
        <param-value>
                        http://127.0.0.1:8080/
                </param-value>
    </context-param>
    <context-param>
        <param-name>
                    file_server_base_url
                </param-name>
        <param-value>
                        http://127.0.0.1:8080/denkimAPIFiles/
                </param-value>
    </context-param>
    <context-param>
        <param-name>
                    logic_server_verify_user_url
                </param-name>
        <param-value>
                        denkimAPILogic/MainPackages.VerifyUserForFileServer
                </param-value>
    </context-param>
    <context-param>
        <param-name>
                    upload_dir
                </param-name>
        <param-value>
                        C:\\Users\\mutemi\\Documents\\NetBeansProjects\\denkimAPIFiles\\build\\web
                </param-value>
    </context-param>
    <!--context-->
</web-app>
